<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="box auth">
          <% if(user.key) { %>
            <a href="#">Мой профиль</a>
            <a href="#">Выход</a>
            <% } else { %>
              <a href="#">Вход</a>
              <a href="#">Регистрация</a>
          <% } %>
      
        </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="email" id="email" />
    <input type="text" id="password">
    <button id="ok">Send</button>
    <script>
      ok.addEventListener('click',function(){
        let req = new XMLHttpRequest()

        req.open('POST', "http://localhost:3000/login")
        req.setRequestHeader('Content-Type', 'application/json')
        req.addEventListener('readystatechange',function(){
          console.log(this.responseText)
        })
        req.send(JSON.stringify({'email':email.value,'password':password.value}))
      })
    </script>
  </body>
</html>
